In [1]:
import re
import nltk
import numpy as np
import pandas as pd

In [2]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ACER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df = pd.read_csv('Resume.csv.csv')

df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [23]:
df.shape

(2484, 4)

In [12]:
import re
def clean_resume(Text):
    Text = re.sub('http\S+\s*', ' ', Text)
    Text = re.sub('@\S+', '  ', Text)
    Text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', Text)
    Text = re.sub('RT|cc', ' ', Text)
    Text = re.sub('#\S+', '', Text)
    Text = re.sub(r'[^\x00-\x7f]',r' ',Text) 
    Text = re.sub('\s+', ' ', Text)
    return Text    
df['Resume_Skills'] = df.Resume_str.apply(lambda x: clean_resume(x))

In [27]:
import nltk
from nltk.corpus import stopwords
Set_Of_StopWords = set(stopwords.words('english')+['``',"''"])
total_Words =[]
Sentences = df['Resume_Skills'].values
cleaned_Sentences = ""
for i in range(0,160):
    cleanedText = clean_resume(Sentences[i])
    cleaned_Sentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in Set_Of_StopWords:
            total_Words.append(word)

In [28]:
wordfrequencydist = nltk.FreqDist(total_Words)
mostCommon = wordfrequencydist.most_common(50)
print(mostCommon)

[('HR', 1045), ('State', 959), ('City', 927), ('Company', 749), ('Name', 715), ('employee', 627), ('management', 602), ('employees', 500), ('Management', 469), ('new', 457), ('training', 454), ('Human', 451), ('design', 346), ('A', 338), ('company', 321), ('including', 320), ('development', 303), ('policies', 295), ('benefits', 288), ('process', 288), ('Resources', 269), ('skills', 254), ('procedures', 252), ('team', 251), ('staff', 250), ('issues', 245), ('business', 241), ('Skills', 239), ('payroll', 234), ('programs', 232), ('job', 229), ('performance', 223), ('customer', 221), ('I', 220), ('2014', 218), ('reports', 216), ('Business', 214), ('01', 211), ('Employee', 210), ('support', 207), ('recruitment', 205), ('data', 201), ('information', 195), ('personnel', 194), ('work', 192), ('University', 187), ('Manager', 186), ('Education', 186), ('system', 184), ('Experience', 183)]

In [17]:
categories = np.sort(df['Category'].unique())
categories

array(['ACCOUNTANT', 'ADVOCATE', 'AGRICULTURE', 'APPAREL', 'ARTS',
       'AUTOMOBILE', 'AVIATION', 'BANKING', 'BPO', 'BUSINESS-DEVELOPMENT',
       'CHEF', 'CONSTRUCTION', 'CONSULTANT', 'DESIGNER', 'DIGITAL-MEDIA',
       'ENGINEERING', 'FINANCE', 'FITNESS', 'HEALTHCARE', 'HR',
       'INFORMATION-TECHNOLOGY', 'PUBLIC-RELATIONS', 'SALES', 'TEACHER'],
      dtype=object)

In [18]:
categories_counts =(df['Category'].value_counts())
categories_counts

INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
FINANCE                   118
ADVOCATE                  118
ACCOUNTANT                118
ENGINEERING               118
CHEF                      118
AVIATION                  117
FITNESS                   117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: Category, dtype: int64

In [25]:
df_Finance=df.loc[df["Category"]=='FINANCE']
df_Finance

,ID,Resume_str,Resume_html,Category
1475,11877150,FINANCE Professional Summar...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1476,86549455,FINANCE Summary Finance...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1477,26530575,FINANCE MANAGER\n FINANCE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1478,23955183,FINANCE ANALYST Summary Str...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1479,24854026,FINANCE CONSULTANT Summar...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
...,...,...,...,...
1588,28724469,FINANCE CUSTOMER CARE REP LEAD ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1589,18636651,FINANCE AND OPERATIONS MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1590,59777056,FINANCE PROJECT COORDINATOR ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1591,22492537,FINANCE AND OPERATIONS MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
1592,24967652,MANAGER OF FINANCE Profession...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE

In [24]:
df_HR=df.loc[df["Category"]=='HR']
df_HR

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR
...,...,...,...,...
105,30563572,HR MANAGER/BUSINESS PARTNER ...,"<div class=""fontsize fontface vmargins hmargin...",HR
106,24402267,DESIGNATION: HR ASSISTANT Profe...,"<div class=""fontsize fontface vmargins hmargin...",HR
107,32308556,HR VOLUNTEER ASST. MANAGER Prof...,"<div class=""fontsize fontface vmargins hmargin...",HR
108,27847081,HR SPECIALIST/ HORIZONTAL ENGINEER ...,"<div class=""fontsize fontface vmargins hmargin...",HR
109,25150191,HR CONTACT CENTER SPECIALIST Su...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [26]:
df_Agri=df.loc[df["Category"]=='AGRICULTURE']
df_Agri

,ID,Resume_str,Resume_html,Category
909,54246169,AGRICULTURE ADVISOR AND LANGUAGE OFFI...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
910,28165687,UT-TSU AGRICULTURE / 4-H EXTENSION AG...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
911,21134923,FELLOW: CREATING LIVELIHOODS VIA AGRI...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
912,37292350,PROGRAM SUPPORT ASSISTANT E...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
913,84512719,E-COMMERCE SUPERVISOR Summary...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
...,...,...,...,...
967,26070334,BATCH RECORD COORDINATOR / DOCUMENT C...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
968,29142288,SALES ASSOCIATE Professional Su...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
969,28247753,COMMITTEE MEMBER Executive Pr...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
970,79536879,"VOLUNTEER FRONT DESK RECEPTIONIST,CAN...","<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
971,17499196,JAMAICA- APICULTURE EXTENSION SPECIAL...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE

In [32]:
df_BPO=df.loc[df["Category"]=='BPO']
df_BPO

,ID,Resume_str,Resume_html,Category,Resume_Skills
972,79261033,"DIRECTOR OF OPERATIONS, BPO Exe...","<div class=""fontsize fontface vmargins hmargin...",BPO,DIRECTOR OF OPERATIONS BPO Executive Summary ...
973,16492045,BPO TEAM LEADER Summary Seek...,"<div class=""fontsize fontface vmargins hmargin...",BPO,BPO TEAM LEADER Summary Seeking to provide to...
974,18589927,CUSTOMER SERVICES Summary P...,"<div class=""fontsize fontface vmargins hmargin...",BPO,CUSTOMER SERVICES Summary Professional in Eco...
975,23933031,SR. WORKFORCE MANAGER Summary ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,SR WORKFORCE MANAGER Summary Results oriented...
976,13964744,TEAM LEAD SENIOR ANALYST Prof...,"<div class=""fontsize fontface vmargins hmargin...",BPO,TEAM LEAD SENIOR ANALYST Professional Summary...
977,89512321,SENIOR MANAGER Skill Highli...,"<div class=""fontsize fontface vmargins hmargin...",BPO,SENIOR MANAGER Skill Highlights Windows Mac O...
978,30709029,REALTOR Professional Summary ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,REALTOR Professional Summary Motivated real e...
979,11183737,MANAGER- ADMINISTRATION & FACILITIES ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,MANAGER ADMINISTRATION FACILITIES Executive S...
980,63158213,SR. NETWORK ENGINEER Summary ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,SR NETWORK ENGINEER Summary Bilingual Network...
981,24727739,QUALITY ASSURANCE LEAD Career O...,"<div class=""fontsize fontface vmargins hmargin...",BPO,QUALITY ASSURANCE LEAD Career Overview Coachi...
982,15145575,IT SUPPORT OFFICER Executiv...,"<div class=""fontsize fontface vmargins hmargin...",BPO,IT SUPPO OFFICER Executive Profile Seeking as...
983,69097572,TRANSACTION PROCESSING ANALYST ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,TRANSACTION PROCESSING ANALYST Summary Depend...
984,31064969,DIVISION OPERATIONS & RISK OVERSIGHT ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,DIVISION OPERATIONS RISK OVERSIGHT MANAGER RI...
985,38707449,SR. CAMPUS RECRUITER Summar...,"<div class=""fontsize fontface vmargins hmargin...",BPO,SR CAMPUS RECRUITER Summary Solutions and res...
986,57706851,NOC ENGINEER Summary To work...,"<div class=""fontsize fontface vmargins hmargin...",BPO,NOC ENGINEER Summary To work for professional...
987,41152404,TEST ANALYST-INTERN/CONTRACTOR ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,TEST ANALYST INTERN CONTRACTOR Profile 3 year...
988,27710853,BUSINESS ACCOUNT LEAD Execu...,"<div class=""fontsize fontface vmargins hmargin...",BPO,BUSINESS ACCOUNT LEAD Executive Profile Stron...
989,15573418,GENERAL MANAGER AND BOARD MEMBER ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,GENERAL MANAGER AND BOARD MEMBER Executive Pr...
990,26829350,BUYER Summary Over 1 yea...,"<div class=""fontsize fontface vmargins hmargin...",BPO,BUYER Summary Over 1 year of end to end exper...
991,95625660,ASSOCIATE Summary To pur...,"<div class=""fontsize fontface vmargins hmargin...",BPO,ASSOCIATE Summary To pursue a challenging car...
992,19362586,RISK SPECIALIST Professional Su...,"<div class=""fontsize fontface vmargins hmargin...",BPO,RISK SPECIALIST Professional Summary Sales an...
993,45077654,CLAIMS SUBJECT MATTER EXPERT ...,"<div class=""fontsize fontface vmargins hmargin...",BPO,CLAIMS SUBJECT MATTER EXPE Professional Summa...

In [33]:
df_BPO.shape

(22, 5)